<footer>
  <nav>
    <ul class="footer-list">
      <li><a href="museum-of-death.html">Museum of Death</a></li>
      <li><a href="animal-playing-cards.html">Animal Playing Cards</a></li>
      <li><a href="idiom-zine.html">Say What?</a></li>
      <li><a href="books.html">Books & Brochures</a></li>
      <li><a href="workingtitle.html">workingTitle</a></li>
      <li><a href="drone.html">Drone Work</a></li>
      <li><a href="drawings.html">Animal Illustrations</a></li>
      <li><a href="other-projects.html">Other Projects</a></li>
    </ul>
  </nav>
  <p class="copyright-format">
    &copy; 2023–2026. All rights reserved. Website coded & designed by Elli Cunanan.
  </p>
</footer>
